################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs
/KafkaSignalR/bin
/KafkaSignalR/obj/Debug
/packages
/KafkaSignalR.Domain/bin/Debug
/KafkaSignalR.Domain/obj/Debug
