<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

    <targets>
        <default-wrapper xsi:type="AsyncWrapper"
          queueLimit="10000"
          timeToSleepBetweenBatches="100"
          batchSize="1000"
          overflowAction="Grow" />

        <target xsi:type="File"
                name="file"
                encoding="utf-8"
                layout="${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss.fff} ${threadid} ${uppercase:${level}} ${logger} ${message} ${exception:format=tostring}"
                fileName="D:\LogFiles\KafkaSignalR\KafkaSignalR.log"
                archiveFileName="D:\LogFiles\KafkaSignalR\KafkaSignalR.{#}.log"
                archiveNumbering="Date"
                archiveEvery="Hour"
                archiveDateFormat="yyyyMMdd-HH"
                maxArchiveFiles="24" />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="file" />
    </rules>
</nlog>